commands:
  copy_public_keys:
    command: |
      set -euo pipefail
      target_home=~ec2-user
      public_key_bucket=$(/opt/elasticbeanstalk/bin/get-config environment --key PUBLIC_KEY_BUCKET)
      public_key_dir="${target_home}/.public_keys.d"
      target_ssh_dir="${target_home}/.ssh"
      target_authorized_keys="${target_ssh_dir}/authorized_keys"
      mkdir -p "$public_key_dir"
      aws s3 sync --delete "$public_key_bucket" "$public_key_dir"
      echo "# ----- Keys copied from $public_key_bucket -----" >> "$target_authorized_keys"
      cat "$public_key_dir"/* >> "$target_authorized_keys"
