.top-nav {
  height: 90px;
  border-bottom: 1px solid #abacac;
  padding: 10px 30px;
  position: relative;
  margin-left: -250px;
  background-color: #f7f7f7;
  &.active {

  }
}

.navbar-btn {
  float: left;
}

.logo {
  width: 70px;
  height: 70px;
  float: left;
}

.title {
  float: left;
  padding-left: 20px;
  margin-left: 150px;
  margin-top: 15px;
}

.icons {
  position: absolute;
  right: 0;
  margin: 27px 30px 0 0;
  ul {
    list-style: none;
    margin-bottom: 0 !important;
  }
}

.fas {
  display: inline-block;
  font-size: 25px;
  line-height: 50px;
}

.dropdown-menu {
  transition: all 0.3s;
  &.show {
    left: -55px !important;
    /*top: 50px !important;*/
  }
  li {
    a {
      display: block;
      width: 100%;
      padding: 10px 20px;
      min-width: 12rem !important;
    }
    &:first-of-type > a {
      border-bottom: 1px solid #abacac;
    }
  }
}

a.dropdown-toggle:hover {
  text-decoration: none;
}